/* @media (max-width: 480px) {
    .menuItem {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        margin: 20px;
        background-color: blue;
        width: 50px;
    }
} */

@media (min-width: 480px) {
    .linksContainer {
        display: flex;
    }
    /* .linkThumbNail {
        width: 200px;
        height: auto;
    } */
    .linkThumbNail {
        flex-flow: wrap;
        justify-content: space-around;
        width: 500px;
        height: auto;
    }
}