body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.linksContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.buttonElm{
    width: 300px;
    height: 300px;
}

.buttonElm img{
    width: 150px;
    height: 150px;
}


/* @media (min-width: 480px) {
    .linksContainer {
        display: flex;
    }
    /* .linkThumbNail {
        width: 200px;
        height: auto;
    } */
    /* .linkThumbNail {
        flex-flow: wrap;
        justify-content: space-around;
        width: 500px;
        height: auto;
    }
} */ 