

#mainContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#mainContainer h1 {
    border-bottom: 2px double black;
    background-color: #8dc1b1;
    text-align: center;
    color: white;
    padding: 5px;
    
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 10px;

}

.map {
    height: 400px;
    width: 400px;
}

.api-area {
    display: flex;
    padding: 5px;
    
}

.api-area p{
    margin-top: 10px;
    margin-bottom: 10px;
   
}

#wifi {
    list-style: none;
}

#title {
    text-align: center;
    font-size: 55px;
    font-family: "Lucida Console", Monaco, monospace;
    
}

#travel-container {
    padding: 10px;
    display: flex;
    
}

#box{
    padding: 1%;
    color: black;

}

#walk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 45px;
}

#walkPic {
    display: flex;
    align-items: center;

}

#walkPic img{
    height: 30px;
    width: auto;
}

#walkInfo {
    padding-top: 20px;
    font-size: 15px;
    padding: 5px;
}

#stat-box{
    
}

/* Brent's code */

#infobox-container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;;
}

#blogbox {
    /* padding: 50px; */
    /* margin: 15px; */
    border-style: double;
    border-width: 7px;
    border-color: black;
    position: relative;
    text-decoration: underline;
    width: 500px;
    height: 100px;
    /* left: 30px; */
}

#learnbox {

    /* margin: 15px; */
    border-style: double;
    border-width: 7px;
    border-color: black;
    position: relative;
    text-decoration: underline;
    width: 500px;
    height: 100px;
    /* left: 30px; */
}

#weather {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 100px;
    width: 400px;
    height: 400px;
    

}

#weather img{
    width:175px;
    height: 175px;
    image-rendering: auto;
}


#infoBox{
    padding-right: 5px;
    padding-left: 5px;
    box-sizing: unset;
    width: 400px;
   
}

#travel{
    padding-right: 5px;
    padding-left: 5px;
}

#theMap{
    padding-right: 5px;
    padding-left: 5px;
    
}

#workspaces, #foodList {
    list-style: none;
    margin: auto;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin: auto;
   }

   #lis {
   display: inline-block;
   margin: auto;

   }

   h6 {
      font-size: 1rem;
   }


   .thumbnail{
      margin: 5px;
      
      padding: 0px;
      /* border: 2px black solid; */
   }

   .inner-item-text {
      font-size: .9rem;
   }

   .group-image{
      width: 100%;
      height: 13rem;
   }

   .caption {
      padding-top: 10px;
     margin: auto;
      font-family: "Lucida Console", Monaco, monospace;
   }

   .btn-success {
      font-size: 1rem;
   }

   .lead {
      font-size: .9rem;
   }

   #wifi-slides{
       width: 400px;
       height: 425px;
       background-color: #8dc1b1;
       padding: 10px;
       margin: 10px;
       border: 7px double black;
       

   }

   #footer {
     background-color: antiquewhite;
   }

   #slidecontainer {
     background-color: antiquewhite;
     display: flex;
     justify-content: center;
     padding: 15px;
     

   }

   #slidecontainer h4{
       padding-top: 35px;
        text-align: center;
   }

   
  
   
   h6 {
      font-size: .7rem;
   }
   
   
   .inner-item-text1 {
    font-size: .6rem;
 }
 
 .group-image1{
    width: 100%;
    height: 13rem;
 }
 
 .caption1 {
    padding-top: 10px;
    margin: auto;
    font-family: "Lucida Console", Monaco, monospace;
    
 }
 
 .btn-success {
    font-size: .7rem;
    position: fixed;
    bottom: 25px;
    right: 27px;
    
 }
 
 .lead1 {
    font-size: .7rem;
 }

#products{
    border: none;
}

@media screen and (max-width: 500px){
    
    .container1{
        display: block;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }


    .map{
    height: 350px;
    width: 350px;
    }
    .api-area{
        flex-direction: column;
    }
    #travel-container{
        flex-direction: column;
        padding: 0px;
        
    }
    #slidecontainer{
        flex-direction: column;
    }
    #weather{
        width: 100%;
        height: auto;
    }
    
    #infobox-container{
        flex-direction: column;
    }
    #wifi-slides{
        width: 100%;
        margin: 0px;
        margin-top: 5px;
    }
    #mainContainer{
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;

    }
    #learnbox{
        width: 100%;
    }
    #blogbox{
        width: 100%;
    }
}
 