

#mainContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    border-bottom: 2px double black;
    background-color: aquamarine;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    font-family: "Lucida Console", Monaco, monospace;
    
}

.map {
    height: 400px;
    width: 400px;
}

.api-area {
    display: flex;
    /* margin: 5px;
    padding: 10px; */
}

.api-area p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#wifi {
    list-style: none;
}

#title {
    text-align: center;
    font-size: 55px;
    font-family: "Lucida Console", Monaco, monospace;
}

#travel-container {
    /* margin: 5px;
    padding: 10px; */
    /* margin-left: auto; */
    display: flex;
}

#box{
    padding: 15px;
}

#walk {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#walkPic {
    display: flex;
    align-items: center;
    
}

#walkPic img{
    height: 30px;
    width: auto;
}

#walkInfo {
    font-size: 15px;
}


/* Brent's code */

#infobox-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

#blogbox {
    /* padding: 50px; */
    /* margin: 15px; */
    border-style: double;
    position: relative;
    /* left: 30px; */
}

#learnbox {
    
    /* margin: 15px; */
    border-style: double;
    position: relative;
    /* left: 30px; */
}

#weather {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px; 
    padding-bottom: 100px;
    width: 400px;
    height: 400px;
    
}

#weather img{
    width:175px;
    height: 175px;
    image-rendering: auto;
}


#infoBox{
    padding-right: 5px;
    padding-left: 5px; 
    box-sizing: unset;
    width: 400px;
}

#travel{
    padding-right: 5px;
    padding-left: 5px; 
}

#theMap{
    padding-right: 5px;
    padding-left: 5px; 
}

#workspaces, #foodList {
    list-style: none;
    margin: auto;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin: auto;
   }
   
   #lis {
   display: inline-block;
   margin: auto;
   
   }
   
   h6 {
      font-size: 1rem;
   }
   
   
   .thumbnail{
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      padding: 0px;
      border: 2px black solid;
   }
   
   .inner-item-text {
      font-size: .9rem;
   }
   
   .group-image{
      width: 100%;
      height: 10rem;
   }
   
   .caption {
      margin: auto;
   }
   
   .btn-success {
      font-size: 1rem;
   }
   
   .lead {
      font-size: .9rem;
   }
   
   #wifi-slides{
       width: 400px;
       height: 400px;
   }