
/* landing page styling */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  #cards {
    display: flex;
    flex-direction: row;
    width: 81%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  #cardstyle{
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 40px;
  }

  #submit-button{
    height: 38px;
    padding-top: 2px;

  }

  #cardbutton{
    display: block
  }


  .card-body{
    background: #8dc1b1;
    color: white;
    height:150px;
  }

/* landing page styling */


  /* Collapse 

  Message Input

  Message @Owais Badat

  Thread
  htx-immersive-09-2018 */
